<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django blog</a></h1>
    </div>
    <div>
        <p>published: 14.06.216 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores assumenda beatae blanditiis commodi consequatur.</p>
    </div>
    <div>
        <p>published: 14.06.216 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores assumenda beatae blanditiis commodi consequatur.</p>
    </div>
</body>
</html>